.App {
  text-align: left;
  font-family: Inter;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

label {
  width: 100%;
  margin-bottom: 1.5rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid #787878;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

input[type="checkbox"] {
  margin-right: 0.75rem;
}

input[type="submit"] {
  width: 100%;
  color: #fff;
  background-color: #4B4EFC;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  /* identical to box height */

  color: #181818;
}


@media (max-width: 1024px) {
  .dashboard-layout {
    grid-template-columns: 158px 1fr !important;
  }

  .link-item {
    max-width: 24px !important;
  }

  .shrinker {
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .dashboard-layout {
    grid-template-columns: 60px 1fr !important;
  }

  aside li {
    gap: 8px !important;
  }
}